<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Amadon</title>
</head>
<body>
    <div>
     <h1>Amadon Store!</h1>
        <table class = "table table-striped table-dark">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in all_products %}
                <tr>
                    <form action="/checkout/" method="post">
                        {% csrf_token %}
                        <td>{{product.description}}</td>
                        <td><input type="hidden" name="id" value="{{product.id}}">{{product.price}}</td>
                        <td><select name="quantity">
                            <option value="1">1</option>              
                            <option value="2">2</option>              
                            <option value="3">3</option>              
                        </select></td>
                        <td><input type="submit" value="Buy!"></td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>